<div class="well">

    <fieldset action="" class="row1">
        <legend>КАРТА ВЫЗОВА службы скорой медицинской помощи Санкт-Петербурга<button id="button" ng-click="saveButton()">
    Save
</button></legend>

        <label for="departmentSelect">п/ст. (ОСМП), # </label>
        <select name="departmentSelect" id="departmentSelect" ng-model="cardCallDetails.brigade.departmentId">
            <option ng-repeat="option in departments" value="{{option.departmentId}}">{{option.departmentName}}</option>
        </select>
        <br/>
        <label>бригада # <input type="text" placeholder="укажите номер бригады" name="brigadeNumber"
                                ng-model="cardCallDetails.brigade.brigadeNumber"></label>
        <br/>
        <label for="profileSelect">профиль # </label>
        <select name="profileSelect" id="profileSelect" ng-model="cardCallDetails.brigade.profileId">
            <option ng-repeat="option in profiles" value="{{option.profileId}}">{{option.transcript}}</option>
        </select>
        <br/>
        <label>Состав:</label>
        <label ng-repeat="option in medics">
            <input type="checkbox" checkbox-group/>
            {{option.firstName + ' ' + option.middleName}}
        </label>
    </fieldset>

</div>

<div id="tabs">
    <ul>
        <li ng-repeat="section in sections"
            ng-class="{active:isActiveTab(section)}"
            ng-click="onClickTab(section)">{{section.sectionName}}
        </li>
    </ul>
	<br>
	</br>
    <div id="mainView">
        <h3>{{currentSection.sectionDescription}}</h3>

        <div  id="style" ng-repeat="data in currentSection.questions | orderBy:'+questionOrder'">
			
            <div id="style" ng-if="data.answerType == 'SELECT_BOX' ">
			
                <label for="{{data.questionId}}">{{data.questionText}}</label>
                <select id="{{data.questionId}}" ng-model="populates[$index].answerId" ng-change="updateAnswer($index, data.questionId)">
                    <option ng-repeat="option in data.answers" value="{{option.answerId}}">{{option.answerValue}}
                    </option>
                </select>
            </div>
			
		
			
            <div  id="style" ng-if="data.answerType == 'TEXT_BOX' ">
			
                <label>{{data.questionText}}<input type="text" ng-model="populates[$index].answerValue"
                                                   ng-change="updateAnswer($index, data.questionId)"></label>  
												
												   
            </div><div style="clear: both;"></div>
			
            <div  id="style" ng-if="data.answerType == 'TEXT_TIME_BOX' ">
                <label>{{data.questionText}}<input type="time" placeholder="HH:mm" ng-model="populates[$index].answerValue"
                                                   ng-change="updateAnswer($index, data.questionId)"></label>
												  
            </div>
			
		
            <div id="style" ng-if="data.answerType == 'TEXT_NUMBER_BOX' ">
                <label>{{data.questionText}}<input type="number" ng-model="populates[$index].answerValue"
                                                   ng-change="updateAnswer($index, data.questionId)"></label>
											
            </div>
			
            <div  id="style" ng-if="data.answerType == 'TEXT_DATE_BOX' ">
                <label>{{data.questionText}}<input type="date" ng-model="populates[$index].answerValue"
                                                   ng-change="updateAnswer($index, data.questionId)"></label>
												
            </div>
        </div>

    </div>

</div>
<div style="clear: both;"></div>
<!--div style="width: 100%; float: left;">
    <div style="float: left; width: 25%; margin: 10px; padding: 10px;">Блок 1
	
	</div>
    <div style="float: left; width: 25%; margin: 10px; padding: 10px;">Блок 2</div>
    <div style="float: left; width: 25%; margin: 10px; padding: 10px;">Блок 3</div>
    <div style="float: left; width: 25%; margin: 10px; padding: 10px;">Блок 4</div></div><div style="clear: both;"></div>
<!--<pre>{{cardCall | json}}</pre>-->



  