<div class="container-fluid" >
    <div class="row" >
        <div class="col-md-2">
            Search: <input size="40" ng-model="query">
        </div>
        <br></br>
        <div class="col-md-10">

            <table id="t01">
                <tr>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('cardCallId')">Card Id</button>
                        <span class="sortorder" ng-show="predicate === 'cardCallId'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('createDateTime')">Create Date</button>
                        <span class="sortorder" ng-show="predicate === 'createDateTime'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('status')">Status</button>
                        <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('updatedBy')">Updated By</button>
                        <span class="sortorder" ng-show="predicate === 'updatedBy'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('brigadeNumber')">Brigade Number</button>
                        <span class="sortorder" ng-show="predicate === 'brigadeNumber'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('departmentName')">Department Name</button>
                        <span class="sortorder" ng-show="predicate === 'departmentName'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button style="margin: 10px; padding: 17px 24px 11px; width:-moz-max-content" ng-click="order('profile')">Profile</button>
                        <span class="sortorder" ng-show="predicate === 'profile'" ng-class="{reverse:reverse}"></span>
                    </th>
                </tr>

                <tr ng-repeat = "cardCall in cardCalls | filter:query | orderBy:predicate:reverse"
                        ng-click="go('/card-calls/{{cardCall.cardCallId}}')">
                    <td>{{ cardCall.cardCallId }}</td>
                    <td>{{ cardCall.createDateTime }}</td>
                    <td>{{ cardCall.status }}</td>
                    <td>{{ cardCall.updatedBy}}</td>
                    <td>{{ cardCall.brigadeNumber }}</td>
                    <td>{{ cardCall.departmentName }}</td>
                    <td>{{ cardCall.profile }}</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<br></br>
<button  style="margin: 17px; padding: 10px 11px 9px; border-radius: 22px;" ng-click="go('/card-calls/create-card-call')" >Create Card Call</button>
