form.register {
    width:1100px;
    margin: 20px auto 0px auto;
    height:710px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

#row3{
     background:none none repeat scroll 0 0;
    float: left;
    height: 29px;
    margin: 27px -3px 10px -23px;
    padding: 10px;
    text-align: -moz-left;
    width: 436px;
}

#row2{
    background: none none repeat scroll 0 0;
    float: left;
    height: 30px;
    margin: 0 15px 15px 0;
    padding: 17px;
    text-align: left;
    width: 206px;
}
#row1 {
    background: none none repeat scroll 0 0;
    float: left;
    height: 2px;
    margin: -10px 27px 50px -10px;
    padding: 16px;
    text-align: left;
    width: 169px;
}
#row4 {
    background: none none repeat scroll 0 0;
    float: left;
    height: 2px;
    margin: -10px 27px 50px -10px;
    padding: 16px;
    text-align: left;
	    margin-right: 6px;
    margin-top:2px;
    width: 227px;
}

#row5{
    background:none none repeat scroll 0 0;
    float: left;
    height: 29px;
    margin: 27px -3px 10px -23px;
    padding: 10px;
    text-align: -moz-left;
    width: 436px;
}
#row6{
    background:none none repeat scroll 0 0;
    float: left;
    height: 29px;
    margin: 27px -3px 10px -23px;
    padding: 10px;
    text-align: -moz-left;
    width: 436px;
}

#mainView {
    width:1018px;
      padding:24px;
      float:left;
      border-top:1px solid #F5F5F5;
      margin-bottom:15px;
     background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 13px 18px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#button
{
	
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:right;
    font-size:18px;
    margin:10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}



.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}